/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/config/ide-helper.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php
/.env.testing
/composer.lock
/install.md
/package-lock.json
